/* Header */
.more-header__nav {
  display: flex;
  overflow: hidden;
  align-items: center;

  width: 100%;
  padding: 8px 0px !important;

  background-color: var(--green-dark);
  padding: 0px;
}

/* Header Menu */
/* .more-header__menu {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 30px;

  list-style: none;

  justify-content: center !important;
} */

.more-header__nav .more-header__link {
  padding: 0px 15px;
}

.more-header__nav .more-header__link img {
  width: 32px;
  height: 32px;
}


.more-header__nav .more-header__link:hover {
  opacity: 0.7;
  text-decoration: underline;
}


/* Mobile Responsive */
/* @media screen and (max-width: 1024px) {
  
}


@media screen and (max-width: 768px) {
  
} */